@use "base/base";
@use "base/typography";
@use "base/fonts";

@use "components/buttons";

@use "layout/header";
@use "layout/navigation";
@use "layout/footer";
@use "layout/grid";

@use "pages/home";
@use "pages/play";
@use "pages/paper";
@use "pages/contact";

@use "utils/variables";
