html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.45;
    color: #333333;
    margin: 0;
}

.container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 3rem 1rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 200;
    line-height: 1.1;
    color: #333333;
}

h1 {
  font-size: clamp(1.8rem, calc(1.8rem + 2.6vw), 4rem);
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: clamp(1.5rem, calc(1.5rem + 2vw), 2.9rem);
}

h3 {
  font-size: clamp(1.35rem, calc(1.35rem + 1.5vw), 2.2rem);
}

h4 {
  font-size: clamp(1.2rem, calc(1.2rem + 1.1vw), 1.9rem);
}

h5 {
  font-size: clamp(1.1rem, calc(1.1rem + 0.8vw), 1.5rem);
}

h6 {
  font-size: clamp(1rem, calc(1rem + 0.5vw), 1.3rem);
}

span {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-size: 0.9em;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    width: fit-content;
}

/* header */
.header{
    background-color: #540D6E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 999;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70rem;    
    margin: 0 auto;     
    padding: 0.5rem 1.25rem;
}

.header__logo-link {
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: clamp(1.2rem, calc(1.2rem + 1.1vw), 1.9rem);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
.header__logo-title {
    margin: 0;
}

@keyframes cursor {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

/* nav */
.header__nav-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    list-style-type: none;
}

.header__nav-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 400; 
    padding: 0.5rem 1rem;
    border-radius: .25rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* hamburger */
.header__menu-toggle {
    display: none;
}




/* hero */

.hero {
    background-color: #D3BDD8;
}

.hero__container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding-top: 5rem;
}

.hero__text-container {
    flex: 1;
}

.hero__perex {
    font-size: 1.875rem;
    line-height: 1.3;
    font-weight: 200;
    margin-top: 0;
}

.hero__btn {
    background-color: #FFD23F;
    color: #333333;
    margin-top: 3rem;
}

.hero__image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__image {
    width: 400px;
    height: 400px;
    display: block;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

/* advantages */

.advantages__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    /* align-items: center;
    justify-content: center; */
}

.advantages__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: last baseline;
}

.advantages__heading {
    text-align: center;
    font-size: clamp(1.1rem, calc(1.1rem + 0.8vw), 1.5rem);
    font-weight: 600;
}

.advantages__description {
    text-align: center;
}

.play {
    background-color: #FFD23F;
}

.play__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play__heading {
    font-size: clamp(1.8rem, calc(1.8rem + 2.6vw), 4rem);
    text-align: center;
    margin-bottom: 1rem;
}

.play__perex {
    font-size: 1.875rem;
    line-height: 1.3;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.play__btn {
    background-color: #540D6E;
    color: white;
    margin-top: 2rem;
}

.play__image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.play__image {
    width: 200px;
    height: 200px;
    display: block;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

/* offline */

.offline__container {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
}

.offline__text-container {
    flex: 1;
}

.offline__heading {
    font-size: clamp(1.8rem, calc(1.8rem + 2.6vw), 4rem);
}

.offline__perex {
    font-size: 1.875rem;
    line-height: 1.3;
    font-weight: 200;
    margin-top: 0;
}

.offline__btn {
    background-color: #FFD23F;
    color: #333333;
    margin-top: 3rem;
}

.offline__image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offline__image {
    width: 400px;
    height: 600px;
    display: block;
    background-color: whitesmoke;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
}

/* footer */
.footer {
    background-color: #540D6E;
}