@use "../base/fonts";

$color-primary: #540D6E;
$color-secondary: #FFD23F;
$color-dark: #550455;
$color-bg: #D3BDD8;
$color-bg-dark: #836193;
$color-text: #0D0D0D;

$color-hover: #2c033b;
$color-active: #8127a2;
$color-outline: #a834d2;

$font-serif: "Merriweather", serif;
$font-sans: "Work Sans", sans-serif;

$shadow: 4px 4px 10px rgba(0,0,0,0.3);