<div class="box">
                <h2 class="box__heading">Co najdete v balení</h2>
                <!-- box 1 -->
                <div class="box__item">
                    <img src="/images/icons/paper.svg" 
                        alt="Ikona papíru" 
                        class="box__icon"
                        width="60"
                        height="60">
                    <div class="box__text-container">
                        <h3 class="box__title">Prémiový papír</h3>
                        <p class="box__description">Pevný, nenatíraný papír s jemnou strukturou, který je příjemný na dotek a vydrží i opakované hraní.</p>
                    </div>
                </div>
                <!-- box 2 -->
                <div class="box__item">
                    <img src="/images/icons/eko.svg" 
                        alt="Ikona ekologického papíru" 
                        class="box__icon"
                        width="60"
                        height="60">
                    <div class="box__text-container">
                        <h3 class="box__title">S úctou k přírodě</h3>
                        <p class="box__description">Použitý papír má certifikaci FSC®, která zaručuje udržitelný a&nbsp;zodpovědný původ dřeva.</p>
                    </div>
                </div>
                <!-- box 3 -->
                <div class="box__item">
                    <img src="/images/icons/pairs.svg" 
                        alt="Ikona kartiček" 
                        class="box__icon"
                        width="60"
                        height="60">
                    <div class="box__text-container">
                        <h3 class="box__title">32 dvojic kartiček</h3>
                        <p class="box__description">Tři archy formátu A4 s jasně vyznačenými okraji, které si snadno rozstříháte na jednotlivé kartičky.</p>
                    </div>
                </div>
                <!-- box 4 -->
                <div class="box__item">
                    <img src="/images/icons/box.svg" 
                        alt="Ikona krabičky" 
                        class="box__icon"
                        width="60"
                        height="60">
                    <div class="box__text-container">
                        <h3 class="box__title">Krabička v balení</h3>
                        <p class="box__description">Součástí je i skládací krabička, aby mělo pexeso po hře své místo.</p>
                    </div>
                </div>
            </div>