<div class="box">
                <h2 class="box__heading">Radost pro oči i hmat</h2>
                <!-- box 1 -->
                <div class="box__item">
                    <img src="/images/icons/paper.svg" 
                        alt="Ikona papíru" 
                        class="box__icon"
                        width="60"
                        height="60">
                    <div class="box__text-container">
                        <h3 class="box__title">Prémiový papír Olin</h3>
                        <p class="box__description">Nenatíraný papír s&nbsp;přirozenou strukturou eukalyptových vláken, jež je radost držet v&nbsp;ruce.</p>
                    </div>
                </div>
                <!-- box 2 -->
                <div class="box__item">
                    <img src="/images/icons/eko.svg" 
                        alt="Ikona ekologického papíru" 
                        class="box__icon"
                        width="60"
                        height="60">
                    <div class="box__text-container">
                        <h3 class="box__title">S úctou k přírodě</h3>
                        <p class="box__description">Použitý papír má certifikaci FSC®, která zaručuje udržitelný a&nbsp;zodpovědný původ dřeva.</p>
                    </div>
                </div>
                <!-- box 3 -->
                <div class="box__item">
                    <img src="/images/icons/pairs.svg" 
                        alt="Ikona kartiček" 
                        class="box__icon"
                        width="60"
                        height="60">
                    <div class="box__text-container">
                        <h3 class="box__title">32 dvojic kartiček</h3>
                        <p class="box__description">Tři archy formátu A4 s&nbsp;jasně vyznačenými okraji pro snadné stříhání na jednotlivé kartičky.</p>
                    </div>
                </div>
                <!-- box 4 -->
                <div class="box__item">
                    <img src="/images/icons/box.svg" 
                        alt="Ikona krabičky" 
                        class="box__icon"
                        width="60"
                        height="60">
                    <div class="box__text-container">
                        <h3 class="box__title">Krabička v balení</h3>
                        <p class="box__description">Součástí sady je i&nbsp;skládací krabička, aby se vám po rozstříhání žádná kartička nezatoulala.</p>
                    </div>
                </div>
            </div>