@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../base/fonts";
@use "../components/buttons";



// hero
.hero {
    background-color: variables.$color-bg;
    background: url(/images/bg2.svg)top left no-repeat;
    background-size: cover;


    &__container {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        padding-top: 5rem;

        @media screen and (max-width: 48rem) {
            flex-direction: column;
        }
    }

    &_text-container {
        flex: 1;
    }

    &__btn {
        background-color: variables.$color-secondary;
        color: variables.$color-text;
        margin-top: 3rem;
    }

    &__image-container {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        width: 70%;
        height: auto;
        display: block;
        background-color: white;
        box-shadow: variables.$shadow;
    }
}

// advantages
.advantages {
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1.25rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: last baseline;
    }

    &__heading {
        text-align: center;
        font-size: clamp(1.1rem, calc(1.1rem + 0.8vw), 1.5rem);
        font-weight: 600;
    }

    &__description {
        text-align: center;
    }
}

// play
.play {
    background-color: variables.$color-secondary;

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-size: clamp(1.8rem, calc(1.8rem + 2.6vw), 4rem);
        text-align: center;
        margin-bottom: 1rem;
    }

    &__perex {
        margin-bottom: 1rem;
        text-align: center;
    }

    &__btn {
        background-color: variables.$color-primary;
        color: white;
        margin-top: 2rem;
    }

    &__image-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        gap: 1.25rem;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 36rem) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;
        background-color: white;
        box-shadow: variables.$shadow;
    }
}

// offline
.offline {
    &__container {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 48rem) {
            flex-direction: column;
        }
    }

    &__text-container {
        flex: 1 1 100%;
    }

    &__heading {
        font-size: clamp(1.8rem, calc(1.8rem + 2.6vw), 4rem);
        margin-bottom: 1.5rem;
    }

    &__btn {
        background-color: variables.$color-secondary;
        color: #333333;
    }

    &__image-container {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image {
        width: 80%;
        height: auto;
        display: block;
        background-color: whitesmoke;
        box-shadow: variables.$shadow;

        @media screen and (max-width: 48rem) {
            width: 100%;
        }
    }
}
