@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../base/fonts";
@use "../components/buttons";

.paper {
    background-color: variables.$color-bg;
    background: url(/images/bg2.svg)top left no-repeat;
    background-size: cover;

    &__container {
        margin: 0 auto;
        padding: 7rem 1.25rem 5rem 1.25rem;
    }
}

.shop {
    &__container {
        margin: 0 auto;
        padding: 2rem 1.25rem 2rem 1.25rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1.25rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 30rem) {
            grid-template-columns: 1fr;
        }
    }

    &__sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    &__grid-card {
        cursor: pointer;
        transition: transform 0.2s;
        border: 1px solid variables.$color-primary;
        border-radius: .3125rem;
    }

    &__grid-card:hover {
        transform: translateY(-4px);
    }

    &__link::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: .3125rem .3125rem 0 0;
    }

    &__text-container {
        padding: 1rem;
    }

    &__subheading {
        font-size: clamp(1.2rem, calc(1.2rem + 1.1vw), 1.9rem);
        padding: 0;
        margin: 0 0 1.5rem 0;
    }

    &__info {
        display: flex;
        gap: 1.25rem;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        font-weight: 600;
        font-size: clamp(1rem, calc(1rem + 0.5vw), 1.3rem);
    }

    &__btn {
        @include buttons.btn;
        background-color: variables.$color-secondary;
    }

}

.info {
    background-color: variables.$color-secondary;

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1.25rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__heading {
        grid-column: span 4;
        text-align: center;
        margin-bottom: 0;

        @media screen and (max-width: 48rem) {
            grid-column: span 2;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: last baseline;
    }

    &__subheading {
        text-align: center;
        font-size: clamp(1.1rem, calc(1.1rem + 0.8vw), 1.5rem);
        font-weight: 600;
    }

    &__description {
        text-align: center;
    }
}