@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../base/fonts";
@use "../components/buttons";

.paper {
    background-color: variables.$color-bg;
    background: url(/images/bg2.svg)top left no-repeat;
    background-size: cover;

    &__container {
        margin: 0 auto;
        padding: 7rem 1.25rem 5rem 1.25rem;
    }
}

.shop {
    &__container {
        margin: 0 auto;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1.25rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__grid-card {
        cursor: pointer;
        transition: transform 0.2s;
        box-shadow: variables.$shadow;
        border-radius: .3125rem;
    }

    &__grid-card:hover {
        transform: translateY(-4px);
    }

    &__grid-card--les {
        @media screen and (max-width: 48rem) {
            order: 1;
        }
    }

    &__grid-card--zelenina {
        @media screen and (max-width: 48rem) {
            order: 2;
        }
    }

    &__grid-card--vanoce {
        @media screen and (max-width: 48rem) {
            order: 3;
        }
    }

    &__grid-card--ptaci {
        @media screen and (max-width: 48rem) {
            order: 4;
        }
    }

    &__grid-card--psi {
        @media screen and (max-width: 48rem) {
            order: 5;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        border-radius: .3125rem .3125rem 0 0;
    }

    &__text-container {
        padding: 1rem;
    }

    &__subheading {
        font-size: clamp(1.2rem, calc(1.2rem + 1.1vw), 1.9rem);
        padding: 0;
        margin: 0 0 1.5rem 0;
    }

    &__info {
        display: flex;
        gap: 1.25rem;
        align-items: center;
        justify-content: space-between;
    }

    &__price {
        font-weight: 600;
        font-size: clamp(1rem, calc(1rem + 0.5vw), 1.3rem);
    }

    &__btn {
        @include buttons.btn;
        background-color: variables.$color-secondary;
    }
}

.info {
    background-color: variables.$color-secondary;

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1.25rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__heading {
        grid-column: span 4;
        text-align: center;
        margin-bottom: 0;

        @media screen and (max-width: 48rem) {
            grid-column: span 2;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: last baseline;
    }

    &__subheading {
        text-align: center;
        font-size: clamp(1.1rem, calc(1.1rem + 0.8vw), 1.5rem);
        font-weight: 600;
    }

    &__description {
        text-align: center;
    }
}

// transport
.transport {
    &__heading {
        margin-bottom: 1rem;
        text-align: center;
    }

    &__subheading {
        text-align: center;
    }

    &__icons {
        display: flex;
        gap: 1.25rem;
    }

    &__icon {
        border-radius: 50%;
    }

    &__boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1.25rem;

        // @media screen and (max-width: 48rem) {
        //     grid-template-columns: 1fr;
        // }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        // box-shadow: variables.$shadow;
        padding: 1.5rem;
        border: 2px solid variables.$color-secondary;
        border-radius: .3125rem;
    }

    &__title {
        text-align: center;
        margin: 1rem 0;
    }

    &__description {
        text-align: center;
        margin: 0;
    }
}

// faq
.paper-questions {
     grid-area: faq;

    //  &__container {
    //     display: grid;
    //     grid-template-columns: 2fr 1fr;
    //     gap: 1.25rem;
    //     padding: 2rem 1.25rem 0 1.25rem;

    //     @media screen and (max-width: 43.75rem) {
    //         grid-template-columns: 1fr;
    //         grid-template-rows: auto;
    //     }
    //  }
}
.paper-faq {
    &__container {
        padding-bottom: 2rem;
    }   
    
    &__boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 1.25rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: 1fr;
        }
    }

    &__question {
        border: 1px solid variables.$color-primary;
        border-radius: .3125rem;
        margin: 0;
        padding: 30px;
        position: relative;
        overflow: hidden;
        transition: 0.3s ease;
        display: flex;
        gap: 1.25rem;
        align-items: center;
    }

    &__question.active {
        background-color: white;
        box-shadow: variables.$shadow;
    }

    &__title {
        margin: 0 35px 0 0;
        font-size: clamp(1.1rem, calc(1.1rem + 0.8vw), 1.5rem);;
    }

    &__text {
        display: none;
        margin: 30px 0 0;
    }

    &__question.active &__text {
        display: block;
    }

    &__toggle {
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 30px;
        right: 30px;
        height: 30px;
        width: 30px;
        transition: background-color 0.3s ease;
    }

    &__toggle:focus {
        outline: 0;
    }

    &__icon {
        width: 20px;
        height: 20px;
    }

    &__chevron {
        display: block;
    }

    &__times {
        display: none;
    }

    &__question.active &__chevron {
        display: none;
    }

    &__question.active &__times {
        display: block;
    }

    &__question.active &__toggle {
        background-color: variables.$color-secondary;
    }
}