@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../base/fonts";
@use "../components/buttons";

.story-hero {
    background-color: variables.$color-bg;
    background: url(/images/bg2.svg)top left no-repeat;
    background-size: cover;

    &__container {
        max-width: 70rem;
        margin: 0 auto;
        padding: 6rem 1.25rem 1.25rem 1.25rem;
    }

    &__heading {
        margin-bottom: 2rem;
        animation: fadeInUp 0.8s ease-out forwards;
    }
}
.story {
    &__container {
        max-width: 70rem;
        margin: 0 auto;
        padding: 1.25rem 1.25rem 3rem 1.25rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        column-gap: 4rem;
        row-gap: 2rem;

        @media screen and (max-width: 48rem) {
            grid-template-columns: 1fr;
        }
    }

    &__subheading {
        font-size: 1.5rem;
        margin: 2rem 0 0 0;
        font-weight: 400;
    }

    &__subheading:first-of-type {
        margin: 0;
    }

    &__text {
        margin-top: 0.5rem;
    }

    &__text-container {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
    }

    &__btn {
        @include buttons.btn;
        background-color: variables.$color-primary;
        color: white;
        margin-top: 3rem;

        @media screen and (max-width: 36rem) {
            margin-top: 2rem;
        }

        &:hover {
            background-color: variables.$color-hover;
        }

        &:active {
            background-color: variables.$color-active;
        }

        &:focus-visible {
            outline-color: variables.$color-outline; 
        }
    }
    
    &__image-container {
        grid-column: 2/3;
        grid-row: 2/3;
        border-left: 2px solid variables.$color-secondary;
        padding-left: 4rem;

        @media screen and (max-width: 48rem) {
            grid-column: 1/2;
            grid-row: 3/4;
        }
    }

    &__photo {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    &__link {
        color: variables.$color-text;
        text-decoration-thickness: .5px;
        text-underline-offset: 0.2em;
    }
}