@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../base/fonts";

/* header */
.header{
    background-color: variables.$color-primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 999;
    box-shadow: variables.$shadow;


    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 70rem;    
        margin: 0 auto;     
        padding: 0.5rem 1.25rem;
    }

    &__logo-link {
        font-optical-sizing: auto;
        font-weight: 200;
        color: white;
        text-decoration: none;
        font-size: clamp(1.2rem, calc(1.2rem + 1.1vw), 1.9rem);
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    &__logo-color {
        color: variables.$color-secondary;
        font-family: variables.$font-sans;
        font-weight: 200;
        font-style: normal;
    }
    &__logo-title {
        margin: 0;
    }


}

@keyframes cursor {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}