@use "../utils/variables";
@use "../base/typography";
@use "../base/base";
@use "../base/fonts";

@mixin btn {
    display: inline-block;
    padding: .9375rem 1.875rem;
    border-radius: .3125rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
