@font-face {
    font-family: 'Merriweather';
    src: url('/assets/fonts/merriweather-v33-latin_latin-ext-800italic.woff2')
    format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v24-latin_latin-ext-200.woff2')
    format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v24-latin_latin-ext-regular.woff2')
    format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v24-latin_latin-ext-600.woff2')
    format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/work-sans-v24-latin_latin-ext-800.woff2')
    format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}