@use "../utils/variables";
@use "../base/fonts";

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: variables.$font-sans;
    font-optical-sizing: auto;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 200;
    line-height: 1.1;
    color: variables.$color-text;
}

h1 {
  font-size: clamp(1.8rem, calc(1.8rem + 2.6vw), 4rem);
  margin-top: 0;
  margin-bottom: 1rem;
}

h2 {
  font-size: clamp(1.5rem, calc(1.5rem + 2vw), 2.9rem);
  margin-top: 0;
}

h3 {
  font-size: clamp(1.35rem, calc(1.35rem + 1.5vw), 2.2rem);
}

h4 {
  font-size: clamp(1.2rem, calc(1.2rem + 1.1vw), 1.9rem);
}

h5 {
  font-size: clamp(1.1rem, calc(1.1rem + 0.8vw), 1.5rem);
}

h6 {
  font-size: clamp(1rem, calc(1rem + 0.5vw), 1.3rem);
}

span {
    font-family: variables.$font-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-size: 0.9em;
}

.perex {
    font-size: clamp(1.2rem, calc(1.2rem + 0.8vw), 1.875rem);
    line-height: 1.3;
    font-weight: 200;
    margin-top: 1rem;
}